<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827379562173-n0165e63s8cnckk5i6r9ubc8277534ak.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827379562173-n0165e63s8cnckk5i6r9ubc8277534ak</string>
	<key>API_KEY</key>
	<string>AIzaSyBOoYZW_BkPzzjeY8BIL2SUCzFKyJ-bhjk</string>
	<key>GCM_SENDER_ID</key>
	<string>827379562173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterForLearning</string>
	<key>PROJECT_ID</key>
	<string>demoproject-7a6de</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-7a6de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827379562173:ios:8aeafc60dd424e93b869d4</string>
</dict>
</plist>